.form {
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: inline-block;
  font-weight: 700;
  width: 100px;
}

.form-group:last-child {
  display:flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
